{% autoescape off %}
   
// account edit modal
form#editAccount.modal.hide.form-horizontal
    .modal-header
        button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
        h3 User Settings
      .modal-body
        .control-group
            label.control-label Name:
            .controls
              input(type='text', name="name", placeholder="ex. Susie Queue", value="#{name}")

        .control-group
            label.control-label Email:
            .controls
              input(type='text', disabled="true", value="#{email}")
        .control-group
            label.control-label Major:
            .controls
              input(type="text", name="major", placeholder="ex. Phrenology", value="#{major}")
        .control-group
            label.control-label Advisor Email:
            .controls
              input(type="email", name="advisor_email", placeholder="advisor@umich.edu", value="#{advisor_email}")


    .modal-footer
      a.pull-left.btn.btn-danger(href='#{logoutUrl}')
        i.icon-ban-circle
        |   Log Out
      a.pull-left.btn.hidden-phone(href="#help", data-dismiss="modal") Help
      button.btn(data-dismiss='modal') Cancel
      button.btn.btn-success(type='submit') Save Changes



// add class modal
form#addCourse.modal.hide.form-horizontal
    .modal-header
        button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
        h3.modalHeader Add Course

      .modal-body
        .alert.hide
          button.close(type='button') &times;
          .msg

        .row-fluid.page1
          .span7.selector
              input#searchCode(type="text", placeholder="subject", tabindex=1, autofocus="true").input-mini
              select.codeSelector(disabled="true", name="code")
              br
              input#searchNum(type="text", placeholder="number", tabindex=2).input-mini
              select.numSelector(disabled="true", name="number")
              
          .span5.selector
            .sectSelector

        .page2.hide
          .center
            .btn-group.sect-nav
            hr
          include course_form

    .modal-footer
      button.btn.btn-warning.next Next
      .next-btns.hide
        input.reset(type="reset").hide
        input.btn.btn-success.add(type='submit', value="Save", data-loading-text="Waiting...")
        button.btn.back.pull-left Back

// edit course modal
form#editCourse.modal.hide.form-horizontal
    .modal-header
        button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
        h3.modalHeader Edit Course

      .modal-body
        .alert.hide
          button.close(type='button') ×
          .msg
        include course_form

    .modal-footer
      button.btn.pull-left(data-dismiss='modal') Cancel
      button.btn.btn-success.finishEdit(type='submit', data-loading-text="Waiting...") Save

// add assignment modal
form#addReminder.modal.hide
    .modal-header
      button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
      h3 New Reminder

      .modal-body.reminderInputs
        .alert.hide
          button.close(type='button', data-dismiss='alert') &times;
          .msg
        include reminder_form        
          
    .modal-footer

      input.btn.pull-left.reset(type="reset") Reset
      button.btn.btn-success.add(type='submit', data-loading-text="Working...") Add

form#editReminder.modal.hide
    .modal-header
      button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
      h3 Edit Reminder

      .modal-body.reminderInputs
        .alert.hide
          button.close(type='button', data-dismiss='alert') &times;
          .msg
        include reminder_form

    .modal-footer

      button.btn.btn-success.save(type='sbumit', data-loading-text="Working...") Save

{% endautoescape %}
