{% autoescape off %}

form#welcome.modal.hide // figure out way to open this ***
    .modal-header
        button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
        h3 Welcome, #{name}

      .modal-body
        //-h3 myTime can help you stay organized!
        h4 Get the grades you want, with myTime!
        ul
          //-li Sync your classes with Google calendar.
          li Track important assignments, tests, and classes.
          li Reflect on how you are doing during the semester.
          li Help make sure your priorities are on target. 
    .modal-footer
      //- add data-dismiss='modal',  href="#importClasses"
      //-a.btn.btn-warning(href="#", role='button', disabled="disabled", data-toggle='modal') Import Schedule 
      a.btn.btn-success(href="#addCourse", data-dismiss="modal") Get Started 
        
// account edit modal
form#editAccount.modal.hide.form-horizontal
    .modal-header
        button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
        h3 User Settings
      .modal-body
        .control-group
            label.control-label Name:
            .controls
              input(type='text', name="name", placeholder="ex. Susie Queue", value="#{name}")

        .control-group
            label.control-label Email:
            .controls
              input(type='text', disabled="true", value="#{email}")
        .control-group
            label.control-label Major:
            .controls
              input(type="text", name="major", placeholder="ex. Phrenology", value="#{major}")
        .control-group
            label.control-label Advisor Email:
            .controls
              input(type="email", name="advisor_email", placeholder="advisor@umich.edu", value="#{advisor_email}")


    .modal-footer
      a.pull-left.btn.btn-danger(href='#{logoutUrl}')
        i.icon-ban-circle
        |   Log Out
      a.pull-left.btn(href="#welcome", data-dismiss="modal") Back to Setup
      button.btn(data-dismiss='modal') Cancel
      button.btn.btn-success(type='submit') Save Changes



// add class modal
form#addCourse.modal.hide.form-horizontal
    .modal-header
        button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
        h3 Add Course

      .modal-body
        .alert.hide
          button.close(type='button') ×
          .msg

        .row-fluid.page1
          .span7.selector
              select.codeSelector(disabled="true", name="code")
              input#searchCode(type="text", placeholder="subject", tabindex=1, autofocus="true").input-mini
              select.numSelector(disabled="true", name="number")
              input#searchNum(type="text", placeholder="number", tabindex=2).input-mini
              
          .span5.selector
            .sectSelector
              //-button.btn
                i.icon-plus

        .page2.hide
          .center
            .btn-group.sect-nav
              
          .row-fluid
            .span6.selector
                
                .form-inline
                  .input-append.bootstrap-timepicker
                    input(type="text", name="start_time", placeholder="start time").input-mini
                    span.add-on
                      i.icon-time
                  .input-append.bootstrap-timepicker
                    input(type="text", name="end_time", placeholder="end time").input-mini
                    span.add-on
                      i.icon-time
                
                input(type="text", name="days", placeholder="days").input-mini
                
                input(type="text", name="title", placeholder="title")
                input(type="text", name="instructor", placeholder="instructor")
                input(type="text", name="location", placeholder="location")
                
            .span6.selector
                input(type="text", name="site_link", placeholder="course page")
                input(type="text", name="prof_email", placeholder="email")

    .modal-footer
      button.btn.pull-left(data-dismiss='modal') Done
      button.btn.btn-warning.next Next
      .next-btns.hide
        button.btn.back Back
        button.btn.btn-success.add(type='submit', data-loading-text="Waiting...") Save
   
// add assignment modal
form#addReminder.modal.hide
    .modal-header
      button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
      h3 New Reminder

      .modal-body.reminderInputs
        .alert.hide
          button.close(type='button', data-dismiss='alert') ×
          .msg

        input.typeTag(type='hidden', name="type")
        .reminderTag.btn-group(data-toggle="buttons-radio")
          a.btn.active(value="") None
          a.btn(value="Homework") Homework
          a.btn(value="Project") Project
          a.btn(value="Exam") Exam
          a.btn(value="Goal") Goal
          a.btn(value="To Do") To Do

        
        .row-fluid
          .span7
            .control-group
              input.width100.reminderTitle(type='text', name="title", placeholder="Title")
            .control-group
              textarea.width100.reminderNote(name="note", placeholder="Note")
          .span5 

            .control-group
              select.input-medium.courseSelector(name="course")
            .control-group
              .input-prepend.date
                span.add-on
                  i.icon-calendar
                input(type='text', name="date", placeholder="Date", readonly)
                
          
    .modal-footer

      input.btn.pull-left(type="reset", id="rstRemindBtn") Reset
      button.btn.btn-success.add(type='submit', data-loading-text="Working...") Add

{% endautoescape %}
