{% autoescape off %}


//- opens the welcome modal only if user is new
if noob 
  // new user modal
  form#welcome.modal.form-horizontal
      .modal-header
          button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
          h3 Welcome, #{name}.

        .modal-body
          //h3 myTime can help you stay organized!
          h4 Get the grades you want, with myTime!
          ul
            //li Sync your classes with Google calendar.
            li Track important assignments, tests, and events.
            li Reflect on how you are doing during the semester.
            li Help make sure your priorities are on target. 
      .modal-footer
        //- add data-dismiss='modal',  href="#importClasses"
        a.btn.btn-warning(href="#", role='button', disabled="disabled", data-toggle='modal') Import Schedule 
        a.btn.btn-success(data-dismiss='modal', href="#addClass", role='button', data-toggle='modal') Add Manually  
        
// account edit modal
form#account.modal.hide.form-horizontal
    .modal-header
        button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
        h3 User Settings
      .modal-body
        .control-group
            label.control-label Name:
            .controls
              input(type='text', name="name", placeholder="ex. Susie Queue", value="#{name}")

        .control-group
            label.control-label Email:
            .controls
              input(type='text', disabled="true", value="#{email}")
        .control-group
            label.control-label Major:
            .controls
              input(type="text", name="major", placeholder="ex. Phrenology", value="#{major}")
        .control-group
            label.control-label Advisor Email:
            .controls
              input(type="email", name="advisor_email", placeholder="advisor@umich.edu", value="#{advisor_email}")


    .modal-footer
      a.pull-left.btn.btn-danger(href='#{logoutUrl}')
        i.icon-ban-circle
        |   Log Out
      button.btn(data-dismiss='modal') Cancel
      button#acctBtn.btn.btn-success(type='submit') Save Changes



// add class modal
form#addClass.modal.hide.form-horizontal
    .modal-header
        button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
        h3 Add Courses

      .modal-body
        #courseListSmall
        
        .row-fluid
          .span6
            select.selector.deptSelector(disabled="true")
            select.selector.numSelector(disabled="true")
            select.selector.sectSelector(disabled="true")
          .span6
            .infoBox.well.well-small.hidden-phone --- Couse Info --- 

    .modal-footer
      button.btn.btn-info.pull-left(data-dismiss='modal') Done
      button.btn.btn-success(type='submit',id="addClassBtn",data-loading-text="Waiting...") Add
      

// add assignment modal
form#addReminder.modal.hide
    .modal-header
      button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
      h3 New Reminder

      .modal-body
        .form-horizontal
          .control-group
            label.control-label Type:
            .controls
              input.typeTag(type='hidden', name="type")
              .reminderTag.btn-group(data-toggle="buttons-radio")
                a.btn.btn-small(val="Homework") Homework
                a.btn.btn-small(val="Project") Project
                a.btn.btn-small(val="Exam") Exam
                a.btn.btn-small(val="Exam") To Do
                
          .control-group
            label.control-label Info:
            .controls
              input.reminderTitle(type='text', name="title", placeholder="Title")
          
          .control-group
            label.control-label Course:
            .controls
              select.input-medium.courseSelector(name="course")
          .control-group
            label.control-label Due/Date:
            .controls
              .input-append
                input.input-small.date(type='text', name="date")
                span.add-on
                  i.icon-calendar
          .control-group
            label.control-label Note:
            .controls
              textarea(name="note")

    .modal-footer
      button.btn.btn-success(type='submit',id="addRemindBtn", data-loading-text="Working...") Add
      button.btn.hide(type="reset", data-dismiss='modal', id="rstRemindBtn")

{% endautoescape %}